html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    box-sizing: inherit;
}

.modal-dialog {
    background-color: red;
    position: absolute;
    top: 40%;
    left: 40%
    /* display: flex;
    justify-self: center;
    align-self: center; */
}